@import url("https://fonts.cdnfonts.com/css/inter");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background: #f4f4f4;
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .nav-sidebar {
    @apply absolute left-0 right-0 backdrop-blur-sm transition-all duration-300 ease-in-out overflow-hidden z-20 mx-auto sm:hidden block;
  }
}
